html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.doc-body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2222222;
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "top-footer"
                       "bottom-footer";
  grid-template-rows: 40px 1fr 40px 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 6px;
  margin: 6px;
}

li img {
  text-align: center;
}

.header {
  grid-area: header;
  text-align: right;
  width: 100%;
  display: block;
}

.header ul {
  float: right;
}

#signin {
  border: 1px solid #4285f4;
  font-weight: bold;
  background: linear-gradient(#4387fd, #4683ea);
  color: #ffffff;
  padding: 6px;
}

.main {
  grid-area: main;
  margin: auto;
  text-align: center;
}

#word_input {
  display: flex;
  flex: 100%;
  width: 548px;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding-left: 35px;
}

.search_button {
  height: 36px;
  line-height: 27px;
  background-image: linear-gradient(#f5f5f5, #f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #576368;
  border-radius: 4px;
  font-size: 14px;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
}

.top-footer, .bottom-footer {
  color: #222222;
  font-size: small;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.top-footer {
  grid-area: top-footer;
  padding: 0 30px;
}

.bottom-footer {
  padding: 0 20px;
}

.bottom-links-right {
  float: right;
}